* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

html, body {
    widht: 100%;
    height: 100%;
    background-color: grey;
}

a {
    text-decoration: none;
}

li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.bar {
    width: 100%;
}

.panel {
    height: 100%;
}

.menu.bar {
    height:1.6em;
    border-radius: 0 0 0.4em 0.4em;
    background-color: #cc99ff;
    list-style-type: none;
    text-align: center;
}

.menu.bar > li {
    display: inline-block;
    float: left;
    height: 100%;
    width: 8%;
    font-size: 1.1em;
    padding-top:0.1em;
    margin-left: 1em;
    margin-right: 1em;
}

.menu.bar > li:first-child {
    border-radius: 0 0 0 0.4em;
}

.menu.bar > li:last-child {
    border-radius: 0 0 0.4em 0;
    /*width:16%;*/
}


.menu.bar > li:hover {
    background-color: #e6ccff;
}

.menu.panel > li {
    display: block;
    width: 100%;
}

.menu.panel > li:hover {
    background-color:  #ffe6cc;        
}


.menu.panel {
    width: 20em;
    border-radius: 0 0.4em 0.4em 0;
    background-color: #ffcc99;    
}
    
.top.bar[adapt=""] {
    display: none;
}

.menu.panel[adapt=""] {
    display: none;
}


/* Верхняя панель меню максимально растянута */
@media (max-width: 719px) {
    .menu.bar > li {
    	width: 12%;
    }

    .menu.bar > li:last-child {
    	width:12%;
    }
    
}
