* {
    box-sizing: border-box;
    margin:  0;
    padding: 0;
}

html, body {
    widht: 100%;
    height: 100%;
    background-color: grey;
}

a {
    text-decoration: none;
}

.panel {
    display: block;
}

body.narrow > .panel {
    width: 100%;
    height: 50%;
}

body.wide > .panel {
    width: 50%;
    height: 100%;
    float: left;
}

.panel:first-child {
    background-color: #dad55e;
}
.panel:last-child {
    background-color: aquamarine;
}


.punct {
    display: block;
}

.punct > img {
    display: block;
}

.punct.horizontal {
    float:left;
    width: 30%;
}

.punct.horizontal > img {
    float:left;
}

.punct.horizontal > div {
    float: left;
    padding-top: 0.8em;
    padding-left: 1em;
}

.punct.vertical {
    /*float:left;*/
    width: 30%;
}

.punct.vertical > img {
    /*float:left;*/
}

.punct.vertical > div {
    /*float: left;*/
    padding-top: 0.8em;
    padding-left: 1em;
}
